body {
}


.auto-style322 {
    left: 0px;
    top: 15px;
    width: 106px;
}

.auto-style323 {
    width: 1247px;
}

.auto-style324 {
    height: 20px;
}

.auto-style325 {
    height: 345px;
    width: 1249px;
    .auto-style326 {
    display: block;
    width: 130%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.auto-style327 {
    display: block;
    width: %;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.auto-style328 {
    display: block;
    width: 59%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #777;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group {
    margin-bottom: 5px;
}

.auto-style329 {
    width: 1083px;
}

.auto-style330 {
    width: 1011px;
    margin-left: 35px;
}

.auto-style400 {
    display: block;
    width: 127%;
    height: 34px;
    padding: 6px 12px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.auto-style401 {
    width: 648px;
}

.auto-style402 {
    height: 358px;
    width: 838px;
}

.bordered {
    width: 605px;
    height: 594px;
    padding: 20px;
    border: 1px solid black;
}

.row {
    margin-right: -15px;
    margin-left: 20Px;
    margin: 1%;
}


