body {
    font-family: math;
}

footer {
    text-align: center;
}

.navbar-inverse.navbar-nav > li > a:focus,
.navbar- inverse.navbar- nav > li > a:hover {
    color: #090a22;
    background-color: transparent;
}

.navbar-inverse {
    background-color: #ffffff;
    border-color: #ff0005;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #000000;
    }


.table-row1 {
    display: table-row;
}

.table-cell1 {
    display: table-cell;
    padding: 10px;
    color: #FFFFFF;
}

.header {
    background-color: #0000;
}

.input-field1 {
    width: 100%;
    padding: 5px;
    border: none;
    background-color: #FFFFFF;
    color: #FFFFFF;
}


.auto-style32 {
    width: 50%;
    height: 53px;
}

.table-container {
    display: table;
    width: 100%;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    padding: 10px;
    color: #FFFFFF;
}

.header {
    font-family: auto;
    background-color: #000000;
}

.input-field {
    width: 100%;
    padding: 5px;
    border: none;
    background-color: #FFFFFF;
    color: black;
}

.auto-style32 {
    display: table;
    width: 100%;
}

.navbar-inverse {
    background-color: #fffbfb;
    border-color: #fd0d0d;
}

    .navbar-inverse.navbar-nav > li > a:focus,
    .navbar- inverse.navbar- nav > li > a:hover {
        color: #090a22;
        background-color: transparent;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #000000;
    }

        .navbar-inverse .navbar-nav > li > a:focus,
        .navbar-inverse .navbar-nav > li > a:hover {
            color: #0a0459;
            background-color: #d7cdcd;
        }

    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #101010;
    }

.form-group row {
}

.form-group {
    margin-bottom: 5px;
}

col-sm-2 col-form-label {
}


.auto-style330 {
    width: 1011px;
    margin-left: 35px;
}

.auto-style401 {
    height: 358px;
    width: 850px;
}

.auto-style402 {
    height: 358px;
    width: 899px;
}

.auto-style403 {
    width: 52px;
}

.auto-style404 {
    width: 187px;
}